.restaurant-info {
  background: rgba(0, 0, 0, 0.8);
}

.restaurant-div {
  cursor: pointer;
  z-index: 0;
  transition: 0.25s;
  color: white;
}

.restaurant-div a {
  color: white;
}

.restaurant-div:hover {
  transform: scale(1.1);
}

.favorite-btn {
  fill: white;
  font-size: xx-large;
  transition: 0.25s;
  z-index: 1;
}

.active-btn path:first-child {
  fill: gold;
}

.favorite-btn:hover {
  fill: gold;
  transform: rotate(180deg) scale(1.30);
}

.favorite-btn path:last-child {
  fill: rgba(0, 0, 0, 0.5);
}

.card-img {
  max-height: 250px;
}

.loading {
  transition: 1s;
}

.pd-bt-5 {
  padding-bottom: 5em;
}

@media screen and (min-width: 768px) {
  .feed-container .search-skeleton {
    display: none;
  }
}
