
.categoryNav {
  width: 110%;
  margin: auto;
  margin-left: -3%;
  overflow-x: scroll;
  position: sticky;
  z-index: 2;
  top: 15%;
  background: rgba(255, 255, 255, 1);
}

.categoryContainer {
  height: 125px;
  width: 1500px;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 0px;
}

.categoryDiv .card-title {
  font-size: small;
}

.categoryDiv {
  cursor: pointer;
}

.categoryDiv:hover {
  box-shadow: 0px 0px 0px 7px gold;
  transform: scale(1.1);
  transition: 0.25s;
}

.categoryListItem {
  width: 75px;
  list-style: none;
}

.card-img {
  max-height: 250px;
}

@media screen and (min-width: 768px) {
  .categoryNav {
    width: 100%;
    margin-left: -2%;
  }
}

@media screen and (min-width: 1100px) {
  .categoryNav {
    width: 97%;
    margin-left: 0px;
  }
}