.main-about {
    background-size: 100%;
    background-image: url('https://res.cloudinary.com/dom5vocai/image/upload/v1615610426/homepage-bg_fupdf2.png');
    height: 100vh;
    width: 100%;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    color: white;
}
.about-container {
    width: 100%;
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.8);
}

.about-container h1 {
    color: white;
    margin-top: 60px;
}

.about-container p {
    color: white;
    margin: 20px 0px;
    font-size: large;
}

.about-container .btn {
    background: no-repeat;
    outline: none;
    border: 1px solid white;
    color: white;
    width: 50%;
    padding: 7px 15px;
    font-size: large;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 50px;
}

.btn:hover {
    background: white;
    color: black;
}

@media screen and (min-width: 768px) {
    .about-container {
        width: 50%;
        margin-bottom: 5%;
        margin-top: 5%;

    }
}