/* Home page */
.home-main {
    background-size: 100%;
    background-image: url('../images/homepage-bg.png');
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search-form-control {
    width: 350px;
  }
